# for testing
assets/minecraft/textures/blocks/rail_activator.png
assets/minecraft/textures/blocks/rail.png
assets/minecraft/textures/blocks/rail_golden.png
assets/minecraft/textures/blocks/rail_normal_turned.png

node_modules
rails-3d.zip
